
 body{background-image: url(https://pre00.deviantart.net/cb95/th/pre/f/2014/108/a/8/205_random_overlays_png__tipo_tumblr__by_a_sonrix-d6gujxk.png);}
	
	   h1{ background-color: green;}

  h2{background-color: yellow;color:black;}
  